---
---
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "vendor/magnific-popup/magnific-popup";
@import "fonts";
@import "variables";
@import "mixins";

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    height: 100%;
    background-color: $grey;
    @include font-smoothing(on);
}

h1 {
    font-size: 3em;
    font-weight: normal;
    line-height: $gutter / 1.3;
    margin-bottom: $gutter / 3;
}

h2 {
    font-size: 2.2em;
    font-weight: normal;
    line-height: $gutter / 1.26;
    margin-bottom: $gutter / 5;
}

h3 {
    font-size: 1.6em;
    font-weight: normal;
    line-height: $gutter / 1.18;
    margin-bottom: $gutter / 7;
}

h4 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: $gutter / 1.08;
    margin-bottom: $gutter / 9;
}

h5 {
    font-size: 1em;
    font-weight: normal;
    line-height: $gutter;
}

h6 {
    font-size: 0.83em;
    font-weight: normal;
    line-height: $gutter;
}

p {
    margin-bottom: $gutter;
}

p.notice {
    @extend h6;
    padding: $gutter;
    border-radius: 0.83em;
}

em {
    font-style: normal;
    color: $red-light;
}

a, a:active, a:visited {
    text-decoration: none;
    color: $blue-light;
    &:hover { color: $red-light; }
    em {
        @extend a.ln-mono;
        font-weight: bold;
        text-decoration: underline;
    }
}

section {
    position: relative;
}

i.icon-inline {
    margin-right: $gutter/4;
}

.txt-white {
    color: $white;
    @include ln-mono($white);
}

.txt-black {
    color: $black;
    @include ln-mono($black);
}

.txt-red {
    color: $red;
    @include ln-mono($red);
}

.bg-transparent {
    background-color: transparent;
}

.bg-white {
    background-color: $white;
    &.bg-semi-transparent { background-color: rgba($white, 0.9); }
}

.bg-light {
    background-color: darken($white, 10%);
    &.bg-semi-transparent { background-color: rgba(darken($white, 10%), 0.9); }
}

.bg-grey {
    background-color: $grey;
    &.bg-semi-transparent { background-color: rgba($grey, 0.9); }
}

.bg-black {
    background-color: $black;
    &.bg-semi-transparent { background-color: rgba($black, 0.6); }
}

.bg-red {
    background-color: $red;
    &.bg-semi-transparent { background-color: rgba($red, 0.9); }
}

.bg-blue {
    background-color: $blue;
    &.bg-semi-transparent { background-color: rgba($blue, 0.9); }
}

.bg-orange {
    background-color: $orange;
    &.bg-semi-transparent { background-color: rgba($orange, 0.9); }
}

.content {
    @include outer-container(none);
    position: relative;
    padding: $gutter $gutter;
}

.content-img {
    text-align: center;
    i {
        font-size: 25em;
        font-size: 30vw;
    }
}

.content-tile {
    margin-bottom: $gutter;
    img {
        display: block;
        width: 100%;
    }
    .content-tile-title {
        margin-top: $gutter/4;
        margin-bottom: 0;
    }
    .content-tile-text {
        display: block;
        margin-bottom: $gutter/4;
    }
}

.col-two-one {
    @include outer-container(none);
    &>*:nth-child(2n+1) {
        @include span-columns(8);
    }
    &>*:nth-child(2n) {
        @include span-columns(4);
        @include omega;
    }
}

.col-two {
    @include outer-container(none);
    &>* {
        @include span-columns(6);
        @include omega(2n);
        margin-bottom: $gutter;
    }
}

.col-three {
    @include outer-container(none);
    &>* {
        @include span-columns(4);
        @include omega(3n);
        margin-bottom: $gutter;
    }
}

.col-four {
    @include outer-container(none);
    &>* {
        @include span-columns(3);
        @include omega(4n);
        margin-bottom: $gutter;
    }
}

a.img-teaser {
    position: relative;
    display: block;
    overflow: hidden;
    img {
        display: block;
        z-index: 1;
    }
    &:before, &:after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all 0.4s;
    }
    &:hover:before {
        background-color: rgba($black, 0.2);
        z-index: 2;
    }
    &:hover:after {
        border: $gutter/2 solid rgba($white, 0.4);
        z-index: 3;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.header-margin {
    padding-top: $logo-font-size + $gutter * 1.5;
}

.video-container {
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    margin-bottom: $gutter;
    height: 0;
}

.video-container iframe,
.video-container embed, 
.video-container object {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.svg-container {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}

.svg-container-munich {
    @extend .svg-container;
    fill: $black;
    width: 100%;
    padding-bottom: percentage($svg-munich-ratio);
}

svg {
    shape-rendering: geometricPrecision;
}

svg.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100%;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.33);
    transition: background-color 0.4s, box-shadow 0.4s;
    &.header-emphasis {
        box-shadow: 0px 0px 10px rgba($black, 0.25);
        &.bg-white { @extend .bg-white.bg-semi-transparent; }
        &.bg-light { @extend .bg-light.bg-semi-transparent; }
        &.bg-grey { @extend .bg-grey.bg-semi-transparent; }
        &.bg-black { @extend .bg-black.bg-semi-transparent; }
        &.bg-red { @extend .bg-red.bg-semi-transparent; }
        &.bg-blue { @extend .bg-blue.bg-semi-transparent; }
        &.bg-orange { @extend .bg-orange.bg-semi-transparent; }
    }
    &.txt-black {
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.33);
    }
    a {
        display: inline-block;
        &.ln-logo {
            position: relative;
            float: left;
            line-height: 0;
        }
    }
    i.icon-prims-logo {
        font-size: $logo-font-size;
    }
    nav {
        position: relative;
        float: right;
        &.nav-toggle {
            display: none;
            text-align: right;
        }
        &.nav-menu { 
            display: block;
            text-align: center;
        }
        li {
            display: inline-block;
        }
        a {
            margin-left: $gutter;
            line-height: $logo-font-size;
        }
        i[class^="icon-"] {
            font-size: 1.2em;
        }
    }
}

footer {
}

header .content,
footer .content {
    padding: $gutter/2 $gutter
}

.portal-image {
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    &.portal-fullsize {
        height: 100%;
        min-height: 500px;
        #portal-top-margin {
            position: relative;
            height: 20%;
        }
        #portal-top-content {
            position: relative;
            height: 80%;
            .content {
                position: absolute;
                width: 100%;
                height: 50%;
                margin: auto;
                top: 0; right: 0; bottom: 0; left: 0;
            }
        }
        #portal-bottom-content {
            position: relative;
            height: 100%;
            .content {
                position: absolute;
                width: 100%;
                height: 10%;
                margin: auto;
                top: 0; right: 0; bottom: 0; left: 0;
            }
        }
        .portal-text {
            padding: 0;
        }
    }
}

.touch .portal-image {
    background-attachment: scroll;
}

.portal-text {
    margin: 0;
    padding: 1em 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.33);
}

.section-jumper {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    a {
        display: inline-block;
        padding: 0 $gutter;
        line-height: $gutter * 1.5;
    }
}

@media screen { /* higher (retina) */
    .content { max-width: 1920px; }
}

@media screen and (max-width: 2000px) { /* 1920x1080, 1920x1200 */
    .content { max-width: 1600px; }
}

@media screen and (max-width: 1700px) { /* 1440x900, 1600x900 */
    .content { max-width: 1280px; }
    .col-four {
        &>*:nth-child(n) {
            @include span-columns(4);
            clear: none;
            @include omega(3n);
        }
    }
}

@media screen and (max-width: 1400px) { /* 1280x800, 1366x768 */
    .content { max-width: 1072px; }
}

@media screen and (max-width: 1100px) { /* 1024x768 */
    .content { max-width: 880px; }
    .col-three, .col-four {
        &>*:nth-child(n) {
            @include span-columns(6);
            clear: none;
            @include omega(2n);
        }
    }
}

@media screen and (max-width: 890px) { /* 800x600 */
    .content { max-width: 720px; }
}

@media screen and (min-width: 731px) {
    nav.nav-menu { display: block !important; }
}

@media screen and (max-width: 730px) { /* 640x480, lower */
    body {
        font-size: $mobile-font-size;
    }
    .content {
        max-width: 100%;
    }
    .content-img i {
        font-size: 40em;
        font-size: 55vw;
    }
    .col-two-one, .col-two, .col-three, .col-four {
        &>*:nth-child(n) {
            @include span-columns(12);
            @include omega(1n);
        }
    }
    header {
        nav {
            &.nav-toggle { display: block; }
            &.nav-menu {
                display: none;
                width: 100%;
                li { display: block; }
            }
        }
    }
}

