<footer class="txt-white bg-grey header-emphasis">
<div class="content">
	<h6 style="position:relative;display:inline-block;float:left;max-width:50%">
	    {{ site.data[page.locale].label.slogan }}<br>
	    <i class="icon-copyright icon-inline"></i>2014-{{ site.time | date:'%Y' }}, Prims Studio - <a href="/impressum">Impressum</a>
	</h6>
	<h6 style="position:relative;display:inline-block;float:right;max-width:50%">
		<i class="icon-phone icon-inline"></i>+49 (0) 89 200 98548<br>
		<i class="icon-mail-alt icon-inline"></i><a href="mailto:info@prims-studio.de">info@prims-studio.de</a>
	</h6>
</div>
</footer>