<footer class="txt-white bg-grey header-emphasis">
    <div class="content">
        <div class="content-main">
            <h6>
                Wir leben Musik<br>
                我们 • 音乐
            </h6>
        </div>
        <div class="content-side">
            <h6>
                <i class="icon-phone"></i>&nbsp;&nbsp;+49 (0) 89 200 98548<br>
                <i class="icon-mail-alt"></i>&nbsp;&nbsp;<a href="mailto:info@prims-studio.de">info@prims-studio.de</a>
            </h6>
        </div>
    </div>
</footer>