<header>
    <div class="content">
        <a class="ln-mono" href="{{ site.url }}/">
            {% include logo.html %}
        </a>
        <nav class="nav-toggle">
            <li><a class="ln-mono" style="cursor: pointer;">菜单</a></li>
        </nav>
        <nav class="nav-menu" role="navigation">
            <li><a class="ln-mono" href="/about">关于我们</a></li>
            <li><a class="ln-mono" href="/events">活动演出</a></li>
            <li><a class="ln-mono ln-img" href="/images/weixin-qrcode.jpg">
                <i class="icon-wechat"></i>
            </a></li>
            <li><a class="ln-mono" href="http://www.weibo.com/prims" target="_blank">
                <i class="icon-weibo"></i>
            </a></li>
            <li><a class="ln-mono" href="http://www.facebook.com/prims.studio" target="_blank">
                <i class="icon-facebook"></i>
            </a></li>
        </nav>
    </div>
</header>