{% include variables.html %}
<header>
<div class="content">
    <a class="ln-mono ln-logo" href="{{ page_url_prefix }}/"><i class="icon-prims-logo"></i></a>
    <nav class="nav-toggle">
        <li><a class="ln-mono" style="cursor: pointer;">{{ site.data[page.locale].label.menu }}</a></li>
    </nav>
    <nav class="nav-menu" role="navigation">
    {% for item in site.data[page.locale].menu %}
        {% if item.type == 'link' %}<li><a class="ln-mono {{ item.class }}" href="{{ item.url | replace:':prefix',page_url_prefix }}" target="{{ item.target }}">{{ item.title }}</a></li>{% endif %}
    {% endfor %}
        <li>
        {% for item in site.data[page.locale].menu %}
            {% if item.type == 'icon' %}<a class="ln-mono {{ item.class }}" href="{{ item.url | replace:':prefix',page_url_prefix }}" target="{{ item.target }}">{{ item.title }}</a>{% endif %}
        {% endfor %}
        {% if page.locale_menu %}
        {% for locale in site.locales %}
            {% if locale != page.locale %}
            {% capture locale_prefix %}{% if locale != site.default_locale %}/{{ locale }}{% endif %}{% endcapture %}
            <a class="ln-mono" href="{{ page.url | replace_first:page_url_prefix,locale_prefix | replace_first:'index.html','' }}"><i class="icon-lang-{{ locale }}"></i></a>
            {% endif %}
        {% endfor %}
        {% endif %}
        </li>
    </nav>
</div>
</header>