{% if page.portal.bottom_image %}
<div class="portal-image{% if page.portal.bottom_image_fullsize %} portal-fullsize{% endif %}" style="background-image:url({{ page.portal.bottom_image }});">
{% endif %}
<section id="portal-bottom-content" class="{{ page.portal.bottom_content_class }}" style="{% if page.portal.bottom_image %}background-color:transparent;{% endif %}">
    <div class="content">
        {% if page.portal.bottom_text %}
        <h1 class="portal-text">{{ page.portal.bottom_text }}</h1>
        {% endif %}
    </div>
    <div class="section-jumper"><a class="ln-mono txt-white bg-black bg-semi-transparent" href="#page">{{ site.data[page.locale].label.back_to_top }} <i class="icon-angle-double-up"></i></a></div>
</section>
{% if page.portal.bottom_image %}
</div>
{% endif %}