@font-face {
    font-family: 'font-prims';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/font-prims.eot?9350432');
    src: url('../fonts/font-prims.eot?9350432#iefix') format('embedded-opentype'),
        url('../fonts/font-prims.woff?9350432') format('woff'),
        url('../fonts/font-prims.ttf?9350432') format('truetype'),
        url('../fonts/font-prims.svg?9350432#font-prims') format('svg');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), 
        url(../fonts/source-sans-pro-regular-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, 
        U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), 
        url(../fonts/source-sans-pro-bold-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: "font-prims";
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1em;
	width: auto;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    text-align: center;

    /* For safety - reset parent styles, that can break glyph codes */
    font-variant: normal;
    text-transform: none;
}

.icon-location:before { content: '\30'; } /* '0' */
.icon-angle-double-up:before { content: '\e800'; } /* '' */
.icon-angle-down:before { content: '\e801'; } /* '' */
.icon-wechat:before { content: '\e802'; } /* '' */
.icon-note:before { content: '\e803'; } /* '' */
.icon-note-beamed:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-mail-alt:before { content: '\e806'; } /* '' */
.icon-clef:before { content: '\e807'; } /* '' */
.icon-prims-logo:before { content: '\e808'; } /* '' */
.icon-calendar-empty:before { content: '\e809'; } /* '' */
.icon-weibo:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */