// Cross-browser drop shadow support
@mixin drop-shadow($h-offset, $v-offset, $blur, $color) {
    /* Webkit */
    -webkit-filter: drop-shadow($h-offset $v-offset $blur $color);
    filter: drop-shadow($h-offset $v-offset $blur $color);
}

@mixin ln-mono($color) {
    a.ln-mono, a.ln-mono:active, a.ln-mono:visited {
        color: $color;
        svg.icon { fill: $color; }
        &:hover { @extend a:hover; }
    }
}

@mixin bg-semi-transparent($color, $opacity) {
    &.bg-semi-transparent {
        background-color: rgba($color, $opacity);
    }
}