// Cross-browser font smoothing support
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

// Mono color link (take text color)
@mixin ln-mono($color) {
    a.ln-mono, a.ln-mono:active, a.ln-mono:visited,
    &.ln-mono, &.ln-mono:active, &.ln-mono:visited {
        color: $color;
        &:hover { color: $red-light; }
    }
}
