// Typography
$base-font          : "Microsoft YaHei","Hiragino Sans GB",STHeiti,SimHei,sans-serif;
$base-font-size     : 14px;
$base-line-height  	: $gutter;
$logo-font-size     : 3em;
$logo-compact-size  : 2em;

// Color
$white              : #fff;
$black              : #222;
$grey               : #455560;
$red                : #be3a4f;
$blue               : #32759d;
