// Typography
$base-font          : "Source Sans Pro","Microsoft YaHei","Hiragino Sans GB",STHeiti,SimHei,sans-serif;
$base-font-size     : 16px;
$mobile-font-size   : 14px;
$base-line-height  	: $gutter;
$logo-font-size     : 2.4em;

// Color
$white              : #fff;
$grey               : #455560;
$black              : #222;
$red                : #cd4547;
$red-light          : #f07375;
$blue               : #32759d;
$blue-light         : #6ab9e7;
$orange             : #db703d;
$orange-light       : #fc8f5b;

// SVG
$svg-munich-ratio   : 186.807/800;