<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page">
{% include header.html %}
{{ content }}
{% include footer.html %}
<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/scroll-support.js"></script>
<script src="/js/vendor/magnific-popup.min.js"></script>
<script>
function refreshScrollSpyOptions() {
    $.updateScrollSpyOptions({
        offsetTop: $("header").height() + 1,
        offsetBottom: $("header").height() - $(window).height()
    });
}
function adjustPortalHeight() {
    var winHeight = $(window).height();
    winHeight = winHeight < 400 ? 400 : winHeight;
    $("#portal").height(winHeight);
    $("#portal-content").height(winHeight - $("#portal-margin").height());
}
$(document).ready(function() {
    $("section, footer").on("scrollSpy:enter", function() {
        $("header").removeClass().addClass($(this).attr("class"));
    });
    $("nav.nav-toggle>li>a").click(function() {
        var navMenu = $("nav.nav-menu");
        if (navMenu.css("display") == "none") {
            navMenu.css("display", "block");
        }
        else {
            navMenu.css("display", "none");
        }
        refreshScrollSpyOptions();
    });
    $.winSizeSpy({throttle: 500}).on('scrollSpy:winSize', function() {
        refreshScrollSpyOptions();
        adjustPortalHeight();
    });
    $('.ln-weixin').magnificPopup({
		type: 'image',
		closeOnContentClick: true,
		mainClass: 'mfp-img-mobile',
		image: {
			verticalFit: true
		}
	});

    adjustPortalHeight();
    $("section, footer").scrollSpy();
    refreshScrollSpyOptions();
    $.scrollSmoothInPage(0.4);
});
</script>
</body>
</html>
