<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
{{ content }}
{% include footer.html %}
<script src="/js/jquery.min.js"></script>
<script src="/js/scrollspy.js"></script>
<script>
function refreshScrollSpyOptions() {
    $.updateScrollSpyOptions({
        offsetTop: $("header").height() + 1,
        offsetBottom: $("header").height() - $(window).height()
    });
}
function adjustPortalHeight() {
    var winHeight = $(window).height();
    winHeight = winHeight < 400 ? 400 : winHeight;
    $("#portal").height(winHeight);
}
$(document).ready(function() {
    $("section").on("scrollSpy:enter", function() {
        $("header").removeClass().addClass($(this).attr("class") + " bg-semi-transparent");
    });
    $("nav.nav-toggle>li>a").click(function() {
        var navMenu = $("nav.nav-menu");
        if (navMenu.css("display") == "none") {
            navMenu.css("display", "block");
        }
        else {
            navMenu.css("display", "none");
        }
        refreshScrollSpyOptions();
    });
    $.winSizeSpy({throttle: 500}).on('scrollSpy:winSize', function() {
        refreshScrollSpyOptions();
        adjustPortalHeight();
    });
    $("section").scrollSpy();
    refreshScrollSpyOptions();
    adjustPortalHeight();
});
</script>
</body>
</html>
