{% include variables.html %}
<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page">
{% include header.html %}
{% if layout.portal.top %}{% include portal-top.html %}{% endif %}
{{ content }}
{% if layout.portal.bottom %}{% include portal-bottom.html %}{% endif %}
{% include footer.html %}
<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/scroll-support.min.js"></script>
<script src="/js/vendor/magnific-popup.min.js"></script>
<script>
function refreshScrollSpyOptions() {
    $.updateScrollSpyOptions({
        offsetTop: $("header").height() + 1,
        offsetBottom: $("header").height() - $(window).height()
    });
}
$(document).ready(function() {
    // enable header fade-in/out effect
    $("section, footer").on("scrollSpy:enter", function() {
        $("header").removeClass().addClass($(this).attr("class"));
    });
    $("section, footer").scrollSpy();
    refreshScrollSpyOptions();
    $.winSizeSpy({throttle: 500}).on('scrollSpy:winSize', function() {
        refreshScrollSpyOptions();
    });
    // enable header menu toggle
    $("nav.nav-toggle>li>a").click(function() {
        var navMenu = $("nav.nav-menu");
        if (navMenu.css("display") == "none") {
            navMenu.css("display", "block");
        }
        else {
            navMenu.css("display", "none");
        }
        refreshScrollSpyOptions();
    });
    // enable smooth in page links
    $.scrollSmoothInPage(0.4);
    // enable image links
    $('.ln-img').magnificPopup({
		type: 'image'
	});
    $('.ln-gallery').magnificPopup({
		type: 'image',
		gallery: {
			enabled: true,
			navigateByImgClick: true,
			preload: [0,1] // will preload 0 - before current, and 1 after the current image
		}
	});
});
</script>
</body>
</html>
