---
layout: default
portal:
    top: on
    top-margin-class: "txt-white bg-blue"
    top-content-class: "txt-white bg-blue header-emphasis"
    bottom: on
    bottom-image: "/images/portal-bg-03.jpg"
---
{% include variables.html %}
<section id="s1" class="txt-black bg-white header-emphasis">
<div class="content">
    {{ page.event.list_title }}
    <div class="col-four">
        <article class="content-tile">
            <a class="ln-img img-teaser" href="/images/event/141102-001-teaser.jpg">
                <img src="/images/event/141102-001-teaser.jpg">
            </a>
            <h4 class="content-tile-title">Prims音乐会 - 中西音乐的碰撞</h4>
            <h6 class="content-tile-info"><i class="icon-calendar-empty"></i>2014年11月2日晚8点</h6>
            <a href="http://www.google.com/maps/search/EineWeltHaus, Schwanthaler Str. 80, München" target="_blank">
                <h6 class="content-tile-info"><i class="icon-location"></i>EineWeltHaus, Schwanthaler Str. 80, München</h6>
            </a>
            <p class="content-tile-text"></p>
        </article>
    </div>
</div>
</section>