---
layout: default
locale_menu: on
portal:
    top: off
    bottom: off
---
{% include variables.html %}
<div class="swiper-container portal portal-fullsize">
    <div class="swiper-wrapper">
        {% assign posts = site.categories.event | where: "locale", page.locale | where: "portal.show_on_homepage", true %}
        {% for post in posts %}
        <div class="swiper-slide" style="background-image:url({{ post.portal.top_image }});">
            <section class="portal-top-margin txt-white bg-transparent">
                <div class="header-margin"></div>
            </section>
            <section class="portal-top-content txt-white bg-black header-emphasis" style="background-color:transparent;">
                <a class="ln-mono" href="{{ post.url }}">
                    <div class="content">
                        <h1 class="portal-text">{{ post.portal.top_text }}</h1>
                        <p class="portal-text">{{ post.excerpt }} <span class="portal-link">{{ site.data[page.locale].label.learn_more }} >></span></p>
                    </div>
                </a>
            </section>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination swiper-pagination-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
</div>
<section id="s1" class="txt-white bg-red header-emphasis">
<div class="content header-margin col-two-one">
    <div>
        {{ page.home.about }}
        <p><a href="{{ page_url_prefix }}/about">{{ site.data[page.locale].label.learn_more }}</a></p>
    </div>
    <div class="content-img"><i class="icon-note"></i></div>
</div>
</section>
<section id="s2" class="txt-white bg-blue header-emphasis">
<div class="content header-margin">
    {{ page.home.follow_us }}
    <div class="col-two">
        <div class="content-list">
            {{ page.home.latest_event}}
            {% include post-list.html posts=site.categories.event locale=page.locale first=true %}
            <a href="{{ page_url_prefix }}/event">{{ site.data[page.locale].label.learn_more }}</a>
        </div>
        <div class="content-list">
            {{ page.home.latest_work}}
            {% include post-list.html posts=site.categories.work locale=page.locale first=true %}
            <a href="{{ page_url_prefix }}/work">{{ site.data[page.locale].label.learn_more }}</a>
        </div>
    </div>
</div>
</section>
<section id="s3" class="txt-black bg-light header-emphasis">
<div class="content header-margin">
    {{ page.home.join_us }}
</div>
<div class="section-jumper"><a class="txt-white bg-black bg-semi-transparent" href="#page">{{ site.data[page.locale].label.back_to_top }} <i class="icon-angle-double-up"></i></a></div>
</section>
