---
layout: default
portal:
    top: on
    top_margin_class: "txt-white bg-blue"
    top_content_class: "txt-white bg-blue header-emphasis"
    bottom: on
    bottom_image: "/images/portal-bg-03.jpg"
---
<section id="s1" class="txt-black bg-white header-emphasis">
<div class="content">
    <div class="col-two">
        <div class="content-list">
            {{ page.latest.event_title }}
            {% include post-list.html posts=site.categories.event locale=page.locale %}
        </div>
        <div class="content-list">
            {{ page.latest.work_title }}
            {% include post-list.html posts=site.categories.work locale=page.locale %}
        </div>
    </div>
</div>
</section>