---
layout: default
locale_menu: on
portal:
    top: on
    top_margin_class: "txt-white bg-green"
    top_content_class: "txt-white bg-green header-emphasis"
    top_image_fullsize: false
    bottom: on
    bottom_content_class: "txt-white bg-grey header-emphasis"
    bottom_image_fullsize: true
---
<section id="s1" class="txt-black bg-white header-emphasis">
<div class="content">
    {{ page.work.header_line }}
    <div class="col-four">
        {% include post-list.html posts=site.categories.work locale=page.locale %}
    </div>
</div>
</section>
